<div class="container"><div class="row">
   <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <form [formGroup]="userFormGroup" (ngSubmit)="HandleLogin()" action="">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control"formControlName="username" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
           <input type="password"  class="form-control" formControlName="password"></div>
           <button type="submit" class="btn btn-info">Envoyez</button></form>
          
</div></div> 