<nav class="p-3">
    <ul class="nav nav-pills">
        <li *ngFor="let action of actions">
            <button (click)="handleAction(action)"  routerLink="{{action.route}}" [class]="action==currentAction?'btn btn-info ms-2' : 'btn btn-outline-info ms-2'">
{{action.title}} <i class="bi bi-{{action.icon}}"></i>
            </button>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
