<div class="container">
    <div class="col-lg-12">
        <form [formGroup]="productFormGroup"  (ngSubmit)="handleUpdateProduct()">
            <div class="mb-3">
      
              <label   class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name">

              <small *ngIf="productFormGroup.controls['name'].errors && productFormGroup.controls['name'].touched" class="text-danger">
{{productService.getErrorMessage('Name',productFormGroup.controls['name'].errors)}}

              </small>
            </div>
      
            <div class="mb-3">
      
              <label   class="form-label">Price</label>
              <input type="text" class="form-control" formControlName="prix">
              <small *ngIf="productFormGroup.controls['prix'].errors && productFormGroup.controls['prix'].touched" class="text-danger">

                {{productService.getErrorMessage('Price',productFormGroup.controls['prix'].errors)}}
              </small>
            </div>
      
      
            <div class="mb-3">
      
              <label   class="form-label">promotion</label>
              <input type="checkbox" class="form-checkbox" formControlName="promotion">
              <small *ngIf="productFormGroup.controls['promotion'].errors && productFormGroup.controls['promotion'].touched" class="text-danger">
                {{productService.getErrorMessage('Promotion',productFormGroup.controls['promotion'].errors)}}

              </small>
            </div>
      
      
      
          <div class="input-group">
          
          
          <button [disabled]="!this.productFormGroup.valid" type="submit" class="btn btn-info">Envoyez</button>
          
          </div></form>
    </div>

</div>

