 
<ng-template #errors>
<div class="text-danger">{{errorMessage}}</div>
</ng-template>
<nav class="border border-info ms-1 mt-1" *ngIf="authService.hasRole('ADMIN')">
  <button class="btn btn-outline-info " (click)="handleNewProduct()">Nouveau

  </button>
</nav>
<div class="card" *ngIf="products; else errors">
  
    <h5 class="card-header">Products\</h5>

    <div class="card-body">
     
<form [formGroup]="searchFormGroup"  (ngSubmit)="SearchProduct()">
      
     <div class="input-group">
     <label   class="input-group-text">Motcle</label>
     <input type="text" class="form-control" formControlName="keyword">
     
     <button  class="btn btn-info"><i class="bi bi-search"></i></button>
     
     </div></form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">status</th>
                <th scope="col">Promotions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of products">
                <th scope="row">{{p.id}}</th>
                <td>{{p.name}}</td>
                <td>{{p.prix}}</td>
                <td><i *ngIf="p.promotion==true" class="bi bi-heart-fill text-success"></i>{{p.promotion}}</td>
                <td><button (click)="promotion(p )"   [ngClass]="p.promotion==true?'btn-outline-danger':'btn-success'"  class="btn btn">
                  <span *ngIf="p.promotion==true">
Promo off
                  </span>
                  <span *ngIf="p.promotion==false">
                    Promo on
                                      </span>
                
                
                </button></td>


                <td *ngIf="authService.hasRole('ADMIN')"><button (click)="delete(p)"  class="btn btn-outline-danger"><i class="bi bi-trash"></i></button></td>
              


              <td *ngIf="authService.hasRole('ADMIN')"><button (click)="handleEditProduct(p)"  class="btn btn-outline-success"><i class="bi bi-file"></i></button></td>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" class="navbar navbar-expand-lg navbar-light bg-light">
              <ul *ngFor="let item of [].constructor(this.totaPages); let i=index" class="pagination">
                <li class="page-item"> <a (click)="gotoPage(i)"  class="btn ms-1 mt-1 page-link"  >{{i}}</a> </li>
              </ul></nav>
    </div>
  </div>