<div class="p-3">
 <div class="card">
    <div class="card-body">
        <h3>Home Components</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Price</th>
                    <th>checked</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
<td>{{product.name}}</td>
<td>{{product.price}}</td>
<td><button class="btn btn-outline-success " (click)="handleSetProduct(product)">
<i [class]="product.checked?'bi bi-check' : 'bi bi-circle'"></i>

</button>
<button class="btn btn-outline-danger ms-2 " (click)="handleDeleteProduct(product)">
    <i class="bi bi-trash "></i>
    
    </button></td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>